<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bashan.godot.adjust">

    <application>

        <meta-data
            android:name="org.godotengine.plugin.v1.GodotAdjust"
            android:value="com.bashan.godot.adjust.GodotAdjust" />

        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>